
@if (Request.IsAuthenticated)
{

<div class="login-partial">

    <div class="login-quality">
        <img width="100" height="100" src="~/Content/themes/base/images/role/rifle.jpg" />
        <div class="login-description">
            <h4 class="login-description_title">
                @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Управление" })
            </h4>
          
            <ul class="login-quality_list">
                <li class="login-quality_item">
                    <img width="40" src="~/Content/themes/base/images/qualities/kms.png" />
                </li>
            </ul>
            @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                <input type="submit" class="btn btn-outline-secondary btn-sm exit-btn" value="Выйти">
            }
        </div>
    </div>
</div>
}
else
{

    <a class="btn btn-sm btn-outline-secondary mx-2" href="@Url.Action("Index", "Registration")">Регистрация</a>
    <a class="btn btn-sm btn-outline-secondary mx-2" href="@Url.Action("Login", "Account")">Вход</a>

}

