<!-- Modal sign in-->
<section class="modal fade text-center" id="autologizationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close popup-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form class="form-signin">
                <div class="mb-4">
                    <h3 class="h3 mb-3 font-weight-normal">Авторизация</h3>
                    <p>Войдите для полного доступа ко всем возможностям сайта</p>
                </div>
                <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                    <label for="inputEmail">Ваш e-mail или логин</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                    <label for="inputPassword">Пароль</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me">Запомнить меня
                    </label>
                </div>
                
                <div class="mb-4">
                    <a href="#">Забыли пароль?</a>
                </div>
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
            </form>
        </div>
    </div>
</section>

