*.cache

*.dll
*pdb
/BO/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/.vs/ShootingCompetitionsRequests/v15/.suo
/.vs/ShootingCompetitionsRequests/v15/Server/sqlite3/db.lock
/.vs/ShootingCompetitionsRequests/v15/Server/sqlite3/storage.ide
/.vs/ShootingCompetitionsRequests/v15/Server/sqlite3/storage.ide-shm
/.vs/ShootingCompetitionsRequests/v15/Server/sqlite3/storage.ide-wal
/BL/bin/Debug/ClosedXML.xml
/BL/bin/Debug/EntityFramework.xml
/BL/obj/Debug/BL.csproj.CopyComplete
/BL/obj/Debug/BL.csproj.FileListAbsolute.txt
/BL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BO/obj/Debug/BO.csproj.FileListAbsolute.txt
/BO/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BO/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DAL/bin/Debug/EntityFramework.xml
/DAL/obj/Debug/.gitignore
/DAL/obj/Debug/DAL.csproj.CopyComplete
/DAL/obj/Debug/DAL.csproj.FileListAbsolute.txt
/DAL/obj/Debug/edmxResourcesToEmbed/EDMX.csdl
/DAL/obj/Debug/edmxResourcesToEmbed/EDMX.msl
/EmailSender/obj/Debug/EmailSender.csproj.FileListAbsolute.txt
/EmailSender/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/EmailSender/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/EmailSender/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/OpenXmlHelper/bin/Debug/ClosedXML.xml
/OpenXmlHelper/obj/Debug/OpenXmlHelpers.csproj.CopyComplete
/OpenXmlHelper/obj/Debug/OpenXmlHelpers.csproj.FileListAbsolute.txt
/OpenXmlHelper/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/OpenXmlHelper/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/OpenXmlHelper/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ShootingCompetitionsRequests/ShootingCompetitionsRequestsWeb.csproj.user
/ShootingCompetitionsRequests/bin/ClosedXML.xml
/ShootingCompetitionsRequests/bin/DotNetOpenAuth.AspNet.xml
/ShootingCompetitionsRequests/bin/DotNetOpenAuth.Core.xml
/ShootingCompetitionsRequests/bin/DotNetOpenAuth.OAuth.Consumer.xml
/ShootingCompetitionsRequests/bin/DotNetOpenAuth.OAuth.xml
/ShootingCompetitionsRequests/bin/DotNetOpenAuth.OpenId.RelyingParty.xml
/ShootingCompetitionsRequests/bin/DotNetOpenAuth.OpenId.xml
/ShootingCompetitionsRequests/bin/EntityFramework.xml
/ShootingCompetitionsRequests/bin/Microsoft.Web.WebPages.OAuth.xml
/ShootingCompetitionsRequests/bin/Newtonsoft.Json.xml
/ShootingCompetitionsRequests/bin/System.Net.Http.Formatting.xml
/ShootingCompetitionsRequests/bin/System.Web.Helpers.xml
/ShootingCompetitionsRequests/bin/System.Web.Http.WebHost.xml
/ShootingCompetitionsRequests/bin/System.Web.Http.xml
/ShootingCompetitionsRequests/bin/System.Web.Mvc.xml
/ShootingCompetitionsRequests/bin/System.Web.Razor.xml
/ShootingCompetitionsRequests/bin/System.Web.WebPages.Deployment.xml
/ShootingCompetitionsRequests/bin/System.Web.WebPages.Razor.xml
/ShootingCompetitionsRequests/bin/System.Web.WebPages.xml
/ShootingCompetitionsRequests/bin/WebMatrix.Data.xml
/ShootingCompetitionsRequests/bin/WebMatrix.WebData.xml
/ShootingCompetitionsRequests/obj/Debug/ShootingCompetitionsRequestsWeb.csproj.CopyComplete
/ShootingCompetitionsRequests/obj/Debug/ShootingCompetitionsRequestsWeb.csproj.FileListAbsolute.txt
/ShootingCompetitionsRequests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ShootingCompetitionsRequests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ShootingCompetitionsRequests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/ClosedXML.0.85.0/ClosedXML.0.85.0.nupkg
/packages/ClosedXML.0.85.0/lib/net35/ClosedXML.xml
/packages/ClosedXML.0.85.0/lib/net40/ClosedXML.xml
/packages/DocumentFormat.OpenXml.2.5/DocumentFormat.OpenXml.2.5.nupkg
/.idea/.idea.ShootServ/.idea/contentModel.xml
/.idea/.idea.ShootServ/.idea/indexLayout.xml
/.idea/.idea.ShootServ/.idea/modules.xml
/.idea/.idea.ShootServ/.idea/workspace.xml
/.idea/.idea.ShootServ/riderModule.iml
/.idea/.idea.ShootingCompetitionsRequests/.idea/.name
/.idea/.idea.ShootingCompetitionsRequests/.idea/contentModel.xml
/.idea/.idea.ShootingCompetitionsRequests/.idea/indexLayout.xml
/.idea/.idea.ShootingCompetitionsRequests/.idea/modules.xml
/.idea/.idea.ShootingCompetitionsRequests/.idea/workspace.xml
/.idea/.idea.ShootingCompetitionsRequests/riderModule.iml
/.idea/config/applicationhost.config
/.vs/ShootServ/v15/*.suo
/.vs/ShootServ/v15/Server/sqlite3/*.lock
/.vs/ShootServ/v15/Server/sqlite3/*.ide
/.vs/ShootServ/v15/Server/sqlite3/*.ide-shm
/.vs/ShootServ/v15/Server/sqlite3/*.ide-wal
/BL/bin/Debug/DAL.dll.config
/.vs/ShootServ/v15/*.suo
/.vs/ShootServ/DesignTimeBuild/*.dtbcache
/.vs/config/applicationhost.config
/ShootServWeb/obj/Debug/ShootServ.csproj.FileListAbsolute.txt
/ShootServWeb/obj/Debug
/DAL/bin/Debug/DAL.dll.config
/.vs/ShootServ/v15
