@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShootServ.Models.Registration.RegistrationPostModel

<div>
    @Html.TextBoxFor(x => x.Family)
    @Html.TextBoxFor(x => x.Name)
    @Html.TextBoxFor(x => x.Login)
</div>
