@{
    ViewBag.Title = "Домашняя страница";
}

<script type="text/javascript">
    $(document).ready(function() {
        var message = "@ViewBag.Message";
        if (message != "" && message != undefined) {
            showInfo(message);
        }
    });
</script>

<main>
    <p>
        Данный ресурс предназначен для удобства подачи заявок на соревнования по стрельбе 
    (пока что только пулевой, в будущем, возможно, стендовой и спортинга), 
    просмотра соревнований в выбранном регионе и просмотра заявившихся стрелков на соревнования для организаторов.<br>
        Соревнования и стрелки заносятся в систему самими пользователями ресурса.
    </p>

    <div>
        <b>Для того чтобы создать соревнование надо сделать несколько простых шагов:</b>
        <ol>
            <li>Зарегистрируйтесь под ролью организатора.</li>
            <li>Внесите тир, в котором будут проходить соревнования, если он не введен в систему.</li>
            <li>Создайте соревнования, выбрав тир.</li>
        </ol>
    </div>
    <div>
        <strong>Для того чтобы заявиться на соревнования следует сделать следующее:</strong>
        <ol>
            <li>Попросите вашего тренера зарегистрироваться в системе под ролью организатора. 
    Можете сделать это сами, но вам также потребуется затем создать учетку стрелка.</li>
            <li>Под ролью организатора создайте стрелковый клуб (команду). </li>
            <li>Зарегистрируйтесь с ролью стрелка, выбрав созданный стрелковый клуб.</li>
            <li>Зайдите на страницу просмотра соревнования и подайте заявку.</li>
        </ol>
    </div>
</main>
