@{
    ViewBag.Title = "Домашняя страница";
}

<script type="text/javascript">
    $(document).ready(function() {
        var message = "@ViewBag.Message";
        if (message != "" && message != undefined) {
            showInfo(message);
        }
    });
</script>

<main>
    <p>
        Данный ресурс предназначен для удобства подачи заявок на соревнования по стрельбе 
    (пока что только пулевой, в будущем, возможно, стендовой и спортинга), 
    просмотра соревнований в выбранном регионе и просмотра заявившихся стрелков на соревнования для организаторов.<br>
        Соревнования и стрелки заносятся в систему самими пользователями ресурса.
    </p>
</main>
