<script src="~/Scripts/ShootServ/shootingClubList.js"></script>

@Html.Label("region-choise", "Выберите регион")
@Html.DropDownList("region-choise", (List<SelectListItem>)ViewBag.Regions, new { @class = "form-control" })
<div class="gridContainer myjqueryUI mt-4">
</div>



