<script src="~/Scripts/ShootServ/shootingRangeList.js"></script>

@Html.Label("region-choise", "Region")
@Html.DropDownList("region-choise", (List<SelectListItem>)ViewBag.Regions, new { @class = "form-control" })
<div class="gridContainer">
</div>
